body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #074f7c;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    flex: 1;
    padding: 20px;
}

section {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

h2 {
    color: #074f7c;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex; /* Usar flexbox para alinear el contenido */
    align-items: center; /* Centrar verticalmente el contenido */
    margin: 10px 0;
}

a {
    display: block; /* Hacer que el enlace ocupe todo el espacio del li */
    text-decoration: none;
    color: #074f7c; /* Color del texto */
    background-color: white; /* Fondo blanco */
    border: 2px solid #074f7c; /* Línea alrededor del botón */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el color de fondo y texto */
    text-align: center; /* Centrar el texto */
    width: 200px; /* Ancho fijo para los botones */
    margin-right: 10px; /* Espacio entre el botón y el texto descriptivo */
}

a:hover {
    background-color: #074f7c; /* Color de fondo al pasar el ratón */
    color: white; /* Cambiar el color del texto al pasar el ratón */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #074f7c;
    color: white;
    margin-top: auto; 
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
}

.home-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px; /* Ajustado para ser un poco más grande */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Ajustado para ser un poco más grande */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s; /* Transición suave */
}

.home-button:hover {
    background-color: #45a049;
}

#result-container {
    margin-top: 15px; /* Ajustado para ser un poco más pequeño */
    text-align: center;
    display: none; 
    visibility: hidden;
    opacity: 0;
}
  
.result-box {
    display: inline-block;
    padding: 8px; /* Ajustado para ser un poco más pequeño */
    border: 1px solid #8bc34a;
    border-radius: 5px;
    background-color: #c6efce;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Ajustado para ser un poco más pequeño */
    width: 50%;
    margin: 0 auto;
}

label {
    font-weight: bold; /* Para que los títulos sean más visibles */
    margin-top: 2px; /* Espacio superior para los títulos, ajustado */
    display: block; /* Asegura que cada título esté en su propia línea */
}

input[type="text"] {
    width: calc(100% - 20px); /* Ajustado para que no sobresalga */
    padding: 8px; /* Ajustado para ser un poco más pequeño */
    margin-bottom: 5px; /* Espacio inferior para separar los campos, ajustado */
    border: 1px solid #ccc; /* Borde para los campos */
    border-radius: 4px; /* Bordes redondeados */
}

#transitions-container {
    margin-top: 15px; /* Espacio superior para el contenedor de transiciones */
    background-color: #e0e0e0; /* Color de fondo gris */
    padding: 5px; /* Espaciado interno para el contenedor */
    margin-bottom: 25px;
    border-radius: 5px; /* Bordes redondeados */
}

#transitions-list li {
    padding: 10px; /* Espaciado interno para cada elemento */
    margin-bottom: 10px; /* Espacio inferior entre elementos */
    border-bottom: 1px solid #074f7c; /* Línea separadora */
}

#transitions-list li:last-child {
    border-bottom: none; /* Eliminar la línea del último elemento */
}

#add-transition {
    background-color: #007BFF; /* Color de fondo azul */
    color: white; /* Color del texto */
    padding: 10px 15px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar el ratón */
    transition: background-color 0.3s; /* Transición suave */
    margin-left: 0; /* Asegúrate de que no haya margen izquierdo */
}
#add-transition:hover {
    background-color: #0056b3; /* Color de fondo más oscuro al pasar el ratón */
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px; /* Ajustado para ser un poco más grande */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; /* Ajustado para ser un poco más grande */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px; /* Espacio inferior, ajustado */
}
  
button[type="submit"]:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
    margin-top: 5px; /* Espacio superior para los mensajes de error */
}

.remove-transition {
    background-color: #FF5733; /* Color de fondo rojo */
    color: white; /* Color del texto */
    padding: 10px 15px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar el ratón */
    transition: background-color 0.3s; /* Transición suave */
    margin-left: 10px; /* Espacio entre el texto de la transición y el botón */
}

.remove-transition:hover {
    background-color: #C70039; /* Color de fondo más oscuro al pasar el ratón */
}

/* Contenedor principal para las tablas */
.tables-container {
    display: flex; /* Usar flexbox para alinear las tablas horizontalmente */
    justify-content: space-between; /* Espacio entre las tablas */
    align-items: stretch; /* Alinear las tablas para que ocupen la misma altura */
    margin-top: 20px; /* Espacio superior para separar de otros elementos */
    height: calc(100vh - 40px); /* Altura del contenedor igual a la altura de la ventana menos márgenes */
    padding: 20px; /* Espacio interno para el contenedor */
    box-sizing: border-box; /* Incluir el padding en el cálculo del ancho y alto */
}

/* Estilos para los contenedores de las tablas */
.table-container {
    flex: 1; /* Permitir que cada contenedor de tabla ocupe el mismo espacio */
    margin: 0 10px; /* Margen a los lados para separación */
    border-radius: 8px; /* Bordes redondeados para el contenedor de la tabla */
    overflow: hidden; /* Asegura que los bordes redondeados se apliquen correctamente */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para el contenedor de la tabla */
}

/* Estilos para las tablas */
table {
    width: 100%; /* Ajustar el ancho para que ocupe todo el contenedor */
    border-collapse: collapse; /* Eliminar el espacio entre las celdas */
}

th, td {
    padding: 12px; /* Espaciado interno para celdas */
    text-align: center; /* Centrar el texto en las celdas */
    border: 1px solid #ccc; /* Borde ligero alrededor de las celdas */
}

th {
    background-color: #005f73; /* Color de fondo para las cabeceras */
    color: white; /* Color del texto en las cabeceras */
    font-weight: bold; /* Negrita para las cabeceras */
}

tr:nth-child(even) {
    background-color: #e0f7fa; /* Color de fondo alternativo para filas pares */
}