<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversión NFA a DFA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Conversión NFA a DFA</h1>
            <a href="/" class="home-button">Volver a Inicio</a>
        </div>
    </header>
    <main>
        <form id="NFAtoDFA">
            <label for="states">Estados (separados por comas):</label><br>
            <span id="states-error" class="error-message"></span>
            <input type="text" id="states" name="states"><br><br>

            <label for="alphabet">Alfabeto (separados por comas):</label><br>
            <span id="alphabet-error" class="error-message"></span>
            <input type="text" id="alphabet" name="alphabet"><br><br>

            <label for="start_state">Estado Inicial:</label><br>
            <span id="start_state-error" class="error-message"></span>
            <input type="text" id="start_state" name="start_state"><br><br>

            <label for="accept_states">Estados de Aceptación (separados por comas):</label><br>
            <input type="text" id="accept_states" name="accept_states"><br><br>

            <div id="transitions-container">
                <p>En caso de utilizar lambda en el símbolo de lectura, escribe "lambda".</p>
                <div id="mensaje-error" style="color: red; display: none;"></div>
                <ul id="transitions-list"></ul>
                <button id="add-transition">Añadir transición</button>
            </div>

            <button type="submit">Simular y Visualizar</button>
        </form>
        
        <!-- Tabla para mostrar el NFA ingresado -->
        <div id="nfa-table-container" style="display: none;">
            <h2>Tabla de Transiciones del NFA</h2>
            <table id="nfa-table">
                <thead>
                    <tr id="nfa-alphabet-row">
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody id="nfa-table-body"></tbody>
            </table>
        </div>

        <!-- Tabla para mostrar el DFA resultante -->
        <div id="dfa-table-container" style="display: none;">
            <h2>Tabla de Transiciones del DFA</h2>
            <table id="dfa-table">
                <thead>
                    <tr id="dfa-alphabet-row">
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody id="dfa-table-body"></tbody>
            </table>
        </div>

        <div id="result-container">
            <div id="result" class="result-box"></div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 David San Martín</p>
    </footer>

    <script>
        document.getElementById('add-transition').addEventListener('click', function (event) {
            event.preventDefault();
        
            const transitionTemplate = `
                <li>
                    <label for="current_state"> Estado actual: </label>
                    <input type="text" name="current_state"><br>
                    <label for="read_code"> Símbolo de lectura: </label>
                    <input type="text" name="read_code"><br>
                    <label for="new_state"> Nuevo estado o estados (separados por comas): </label>
                    <input type="text" name="new_state"><br>
                    <button class="remove-transition">Borrar transición</button>
                </li>
            `;
            
            const transitionsList = document.getElementById('transitions-list');
            transitionsList.insertAdjacentHTML('beforeend', transitionTemplate);

            verificarTransiciones();
        });
        
        // Función para eliminar una transición específica
        document.getElementById('transitions-list').addEventListener('click', function (event) {
            if (event.target.classList.contains('remove-transition')) {
                event.preventDefault ();
                const transitionItem = event.target.closest('li');
                if (transitionItem) {
                    transitionItem.remove();
                }
            }
            verificarTransiciones();
        });

        // Función para verificar si alguna transición está incompleta
        function verificarTransiciones() {
            const transitionsList = document.getElementById('transitions-list');
            const mensajeError = document.getElementById('mensaje-error');
            let hayTransicionesIncompletas = false;

            // Iteramos sobre todas las transiciones
            Array.prototype.forEach.call(transitionsList.children, function (transition) {
                const currentStateInput = transition.querySelector('input[name="current_state"]');
                const readCodeInput = transition.querySelector('input[name="read_code"]');
                const newStateInput = transition.querySelector('input[name="new_state"]');

                // Si alguno de los campos está vacío, marcar como incompleta
                if (!currentStateInput.value.trim() || !readCodeInput.value.trim() || !newStateInput.value.trim()) {
                    hayTransicionesIncompletas = true;
                }
            });

            // Mostrar u ocultar el mensaje de error
            if (hayTransicionesIncompletas) {
                mensajeError.textContent = 'Hay transiciones incompletas. Por favor, complétalas o elimínalas.';
                mensajeError.style.display = 'block';
            } else {
                mensajeError.style.display = 'none';
            }
        }
        // Añadir evento a cada campo de entrada para verificar transiciones cuando cambian
        document.getElementById('transitions-list').addEventListener('input', function(event) {
            // Verifica las transiciones cada vez que un valor cambie
            if (event.target.tagName === 'INPUT') {
                verificarTransiciones();
            }
        });

        document.getElementById('NFAtoDFA').addEventListener('submit', function (event) {
            event.preventDefault();
                
            const camposObligatorios = ['states', 'alphabet', 'start_state'];
            const campos = {};
            const mensajeError = document.getElementById('mensaje-error');

            // Limpiar mensajes de error previos
            mensajeError.style.display = 'none';
            mensajeError.textContent = '';

            camposObligatorios.forEach(campo => {
                campos[campo] = document.getElementById(campo).value.trim();
                const errorSpan = document.getElementById(`${campo}-error`);
                if (campos[campo] === '') {
                    errorSpan.textContent = 'Este campo es obligatorio';
                    errorSpan.style.display = 'block';
                } else {
                    errorSpan.style.display = 'none';
                }
            });
        
            if (Object.values(campos).some(campo => campo === '')) {
                return;
            }

            // Verificar transiciones incompletas
            const transitionsList = document.getElementById('transitions-list');

            // Recopilación de las transiciones
            const transitions = {};
        
            Array.prototype.forEach.call(transitionsList.children, function (transition) {
                const currentStateInput = transition.querySelector('input[name="current_state"]');
                const readCodeInput = transition.querySelector('input[name="read_code"]');
                const newStateInput = transition.querySelector('input[name="new_state"]');
            
                if (currentStateInput && readCodeInput && newStateInput) {
                    const currentState = currentStateInput.value.trim();
                    const readCode = readCodeInput.value.trim();
                    const newStates = newStateInput.value.trim().split(',').map(state => state.trim());
                
                    const transitionKey = `${currentState},${readCode}`;
                
                    if (!transitions[transitionKey]) {
                        transitions[transitionKey] = [];
                    }
                
                    transitions[transitionKey] = [...newStates];
                }
            });
        
            const data = {
                states: campos.states.split(',').map(state => state.trim()),
                alphabet: campos.alphabet.split(',').map(symbol => symbol.trim()),
                transitions: transitions,
                start_state: campos.start_state,
                accept_states: document.getElementById('accept_states').value.split(',').map(state => state.trim())
            };
            console.log("Data: ", data);

            fetch('/nfa_to_dfa', {
                method: 'POST',
                headers: {
                    'Content-Type': ' application/json',
                },
                body: JSON.stringify(data),
                
            })
            .then(response => response.json())
            .then(result => {
                // Reorganizar los estados y las transiciones
                if (result.states && result.states.includes("None")) {
                    result.states = result.states.filter(state => state !== "None");
                    result.states.push("Ø"); // Mover "None" al final y usar "Ø"
                }

                // Construcción del cuadro de resultados
                const states = result.states ? result.states.map(state => `{${state === "None" ? "Ø" : state}}`).join(', ') : 'No states available';
                const alphabet = result.alphabet ? result.alphabet.join(', ') : 'No alphabet available';
                const startState = result.start_state ? `{${result.start_state}}` : 'No start state available';
                const acceptStates = result.accept_states ? result.accept_states.map(state => `{${state}}`).join(', ') : 'No accept states available';
            
                let resultHtml = `
                    <p><strong>Estados del DFA:</strong> ${states}</p>
                    <p><strong>Alfabeto:</strong> ${alphabet}</p>
                    <p><strong>Estado Inicial:</strong> ${startState}</p>
                    <p><strong>Estados de Aceptación:</strong> ${acceptStates}</p>
                    <p><strong>Transiciones:</strong><br>
                `;
                    
                if (result.transitions) {
                    let transitions = [];
                    // Primero, recorrer todas las transiciones
                    for (const [key, value] of Object.entries(result.transitions)) {
                        const displayValue = (value === "None" || value === undefined) ? 'Ø' : (Array.isArray(value) ? value.join(', ') : value);
                        const displayKey = key.replace('None', 'Ø'); // Reemplazar "None" por "Ø" en las claves
                    
                        // Si el estado de origen es Ø, se "guardan" hasta después
                        if (displayKey.includes("Ø")) {
                            transitions.push({ key: displayKey, value: displayValue });
                        } else {
                            resultHtml += `<strong>${displayKey}:</strong> ${displayValue}<br>`;
                        }
                    }
                
                    // Después, agregar las transiciones con "Ø" al final
                    for (const transition of transitions) {
                        resultHtml += `<strong>${transition.key}:</strong> ${transition.value}<br>`;
                    }
                } else {
                    resultHtml += `<p>No transitions available</p>`;
                }
            
                resultHtml += `</p>`;
            
                document.getElementById('result').innerHTML = resultHtml;
                document.getElementById('result-container').style.display = 'block';
                document.getElementById('result-container').style.visibility = 'visible';
                document.getElementById('result-container').style.opacity = '1';
            
                // Generar la tabla de transiciones del DFA
                if (result.transitions) {
                    displayTable('dfa', result.states, result.alphabet, result.transitions, result.start_state, result.accept_states);  // Llamar la función para mostrar la tabla del DFA
                } else {
                    resultHtml += `<p>No transitions available</p>`;
                }
            
                resultHtml += `</p>`;
                document.getElementById('result').innerHTML = resultHtml;
            
                // Mostrar el contenedor con la tabla del DFA
                document.getElementById('result-container').style.display = 'block';
                document.getElementById('result-container').style.visibility = 'visible';
                document.getElementById('result-container').style.opacity = '1';
            
                // Generar tablas
                displayTable('nfa', data.states, data.alphabet, data.transitions, data.start_state, data.accept_states);  
            })
            .catch(error => console.error('Error:', error));
        });

        function displayTable(type, states, alphabet, transitions, start_state, accept_states) {
            // Asegurar que 'lambda' se incluya en el alfabeto si no está presente
            if (type === 'nfa' && !alphabet.includes('lambda')) {
                alphabet.push('lambda');
            }
        
            // Obtener los contenedores de la tabla
            const tableBody = document.getElementById(`${type}-table-body`);
            const alphabetRow = document.getElementById(`${type}-alphabet-row`);

            // Construir la cabecera de la tabla con los alfabetos
            alphabetRow.innerHTML = '<th>Estado</th>' + alphabet.map(symbol => 
                // Reemplazar 'lambda' con 'λ' solo en la cabecera
                `<th>${symbol === 'lambda' ? 'λ' : symbol}</th>`
            ).join('');
        
            // Crear las filas de la tabla
            tableBody.innerHTML = states.map(state => {
                // Si el estado es el estado inicial, agregar una flecha
                const stateDisplay = (state === start_state) ? `→ ${state}` : state;
            
                // Si el estado es de aceptación, agregar un asterisco
                const finalStateDisplay = accept_states.includes(state) ? `* ${stateDisplay}` : stateDisplay;
            
                // Crear las celdas de la fila con los símbolos del alfabeto
                const row = alphabet.map(symbol => {
                    let key;
                
                    // Cambiar la clave de las transiciones para NFA o DFA
                    if (type === 'dfa') {
                        key = `${state} - ${symbol}`;
                    } else {
                        key = `${state},${symbol}`;
                    }
                
                    let transitionValue = transitions[key];
                    let displayValue;
                
                    if (type === 'nfa') {
                        // Para NFA, dejar las celdas vacías si no hay transición
                        displayValue = (transitionValue === undefined) 
                            ? ''  // Dejar vacío si no hay transición
                            : (Array.isArray(transitionValue) 
                                ? transitionValue.join(', ')  // Si hay varios destinos, unirlos
                                : transitionValue);
                    } else if (type === 'dfa') {
                        // Para DFA, mostrar "Ø" si no hay transición
                        displayValue = (transitionValue === "None" || transitionValue === undefined) 
                            ? 'Ø'  // Mostrar "Ø" si no hay transición
                            : (Array.isArray(transitionValue) 
                                ? transitionValue.join(', ')  // Si hay varios destinos, unirlos
                                : transitionValue);
                    }
                
                    return `<td>${displayValue}</td>`;  // Devuelve la celda con el valor de la transición
                }).join('');
            
                return `<tr><td>${finalStateDisplay}</td>${row}</tr>`;  // Devuelve la fila con el estado y las transiciones
            }).join('');
        
            // Mostrar la tabla después de generarla
            document.getElementById(`${type}-table-container`).style.display = 'block';
        }
    </script>
</body>
</html>